<h1>{{ title }}</h1>

<ul>
    {{#each users}}
    <li>
            {{ StudentNumber }} / {{ Name }} / {{ GRADE }} / {{ Major }} / {{ Admissiondate }} / {{ Email }}
        </a>
    </li>
    {{/each}}
</ul>